<div class="container">
	<h1 class="title"><span>Cadastre seu produto</span></h1>

  <form {{action 'save' on='submit'}}>
    {{#if signupFailed}}
      <div class="alert alert-danger">Por favor confira todos os campos.</div>
    {{/if}}
		
		<div class="form-group">
      <label for='name'>Categoria</label>
      {{view "select" id="category" prompt="Selecione uma categoria" content=model optionValuePath="content.id" optionLabelPath="content.name" 
        value=selectedCategory
        classNames="form-control"}}
    </div>    
    
    <div class="form-group">
      <label for='name'>Nome</label>
      {{input type="text" value=name id="name" class="form-control" placeholder='Apenas seu primeiro nome'}}
    </div>

    <div class="form-group">
      <label for='city'>Cidade</label>
      {{autocomplete-addressform value=city fieldid="city" placeholder='São Paulo, Rio de Janeiro, Belo Horizonte...'}}
      {{input id='locality' type='text' value=locality}}
      {{input id='administrative_area_level_1' type='text' value=administrative_area_level_1}}
      {{input id='country' type='text' value=country}}
    </div>



    <button type="submit" class="btn btn-default btn-green" {{bind-attr disabled="isProcessing"}}>Cadastrar</button>
  </form>


  

</div>