{{#my-modal title='Acesse sua conta' ok='authenticate' close='removeModal' size='modal-sm'}}
	<form {{action 'authenticate' on='submit'}}>
		{{#if loginFailed}}
		  <div class="alert alert-danger">E-mail ou senha incorretos.</div>
		{{/if}}
		
		<div class="form-group">
	    <label for="identification">Seu e-mail</label>
	    {{validated-input type="email" value=identification errors=errors.identification fieldid="identification" placeholder='email@site.com.br'}}
	  </div>

	  <div class="form-group">
	    <label for="password">Sua Senha</label>
	    {{validated-input type="password" value=password errors=errors.password fieldid="password" placeholder='sua senha secreta'}}
	  </div>
	  <button type="submit" class="btn btn-default btn-green" {{bind-attr disabled="isProcessing"}}>Entrar</button>
	  <span class="pull-right"><a href="" title="">Esqueci minha senha</a></span>
	</form>

  
  <hr>
	Não tem cadastro ainda? <a href="#" {{action 'showModal' 'signup' 'false'}}>Cadastre-se</a>
{{/my-modal}}
	
Aguarde...

	<!--<div class="alert alert-info">
	  Or login with <a {{ action 'authenticateWithFacebook' }} class="alert-link" style="cursor: pointer;"><i class="fa fa-facebook-square"></i> Facebook</a> or <a {{ action 'authenticateWithGooglePlus' }} class="alert-link" style="cursor: pointer;"><i class="fa fa-google-plus-square"></i> Google+</a>.
	</div>-->	